html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #EEEEF2;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.row {
    display: flex;
}

.column {
    padding: 5px;
}

.left {
    width: 20%;
    background-color: #E2E2E2;
}
.middle { width: 40%; }
.right { width: 40%; }

.message {
}

pre {
    padding: 5px;
    overflow-x: scroll;
    background-color: white;
}

pre, pre code {
    font-family: Consolas, 'Cascadia Mono', monospace;
}

.middle pre {
    border: 1pt solid #004F96;
}

.right pre {
    border: 1pt solid #1E7F1E;
}

pre .static { font-weight: bold; }

pre .reserved { color: #0000FF; }
pre .control { color: #8F08C4; }
pre .method { color: #74531F; }
pre .type { color: #2B91AF; }
pre .type.struct { color: #2ba6af; }
pre .string { color: #A31515; }
pre .variable { color: #2c2e55; }
pre .comment { color: #008000; }
pre .excluded { color: #686868; }
pre .preprocess { color: #686868; }

pre .number { color: #172841 }
pre .operator { color: #3e1e4b }
pre .constant { color: #501e1e }
pre .field { color: #282a53 }
pre .property { color: #1f454d }

.warning { border-bottom: dotted medium #008000 ;}
.error { border-bottom: dotted medium #ff0000; }
